<div class="features">
    <div class="row m-0 p-0">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h1>All AutoTacs features</h1>
            <h3>
                <p>Discover the features you need<br>
                    to run your business.</p>
            </h3>

            <button class="button">Start Now</button>
            <p class="paragraph">A paragraph is a group of words put together to form a group that is usually longer
                than a sentence. Paragraphs are often made up of several sentences. There are usually between three and
                eight sentences.This topic sentence of the paragraph tells the reader what the paragraph will be
                about.A paragraph is a group of words put together to form a group that is usually longer
                than a sentence. Paragraphs are often made up of several sentences. There are usually between three and
                eight sentences.This topic sentence of the paragraph tells the reader what the paragraph will be
                about.
            </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <img src="../../assets/images/001.png" class="image-1">
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="d-flex">
                    <div class="fx">
                        <h2>Pay Bills</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/cashless-payment.png" class="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Pay Bills</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/cashless-payment.png" class="image">
                    </div>
                </div>
            </mat-card>
           
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>claim expenses</h2>
                        <p>Connect your bank to Xerox and set up bank feeds.Transactions flow securely straight into
                            Xero each business day.</div>
                    <div class="bg p-2">
                        <img src="../../assets/images/claim.png" class="image">
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Bank connections</h2>
                        <p>Connect your bank to Xerox and set up bank feeds.Transactions flow securely straight into
                            Xero each business day.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/bank.png" class="image">
                    </div>
                </div>
            </mat-card>
           
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Accept payments</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/Accept payments.png" class="image">
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Track projects</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/track (1).png" class="image">
                    </div>
                </div>
            </mat-card>
           
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Bank reconciliation</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/agreement.png" class="image">
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Manage contacts</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/contact.png" class="image">
                    </div>
                </div>
            </mat-card>
           
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Capture data</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/data-capture.png" class="image">
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Pay runs</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/annual.png" class="image">
                    </div>
                </div>
            </mat-card>
           
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Files</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/folder.png" class="image">
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Reporting</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/reporting.png" class="image">
                    </div>
                </div>
            </mat-card>
           
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Inventory</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/inventory (2).png" class="image">
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Send Invoices</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/bill (1).png" class="image">
                    </div>
                </div>
            </mat-card>
           
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Multi-currency</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/money-currency.png" class="image">
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Purchase orders</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/online-order.png" class="image">
                    </div>
                </div>
            </mat-card>
           
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Quotes</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/quotes.png" class="image">
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Sales tax</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/tax.png" class="image">
                    </div>
                </div>
            </mat-card>
           
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <mat-card class="card">
                <div class="d-flex">
                    <div class="fx p-2">
                        <h2>Analytics Plus</h2>
                        <p>Track pay bills on time.and get a clear overview of accounts and cashflow.</p>
                    </div>
                    <div class="bg p-2">
                        <img src="../../assets/images/analytics.png" class="image">
                    </div>
                </div>
            </mat-card>
        </div>
    </div> -->
    
   
</div> 