
    <mat-toolbar class="nav-bar">
      <div class="company">
        <mat-icon>menu</mat-icon>
        Company
      </div>
      <div class="float-right">
        <ul>
          <li>
            <a routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li>
            <a routerLink="/features" routerLinkActive="active">Features</a>
          </li>
          <li>
            <a routerLink="/plans" routerLinkActive="active">Plans</a>
          </li>
          <li>
            <a routerLink="/Login" routerLinkActive="active">Login</a>
          </li>
        </ul>
  
      </div>
  
    </mat-toolbar>
