<app-toolbar></app-toolbar>
<div class="content">
    <div class="row m-0 p-0">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h1>All AutoTacs features</h1>
            <h3>
                <p>Discover the features you need<br>
                    to run your business.</p>
            </h3>

            <button class="button">Start Now</button>
            <p class="paragraph">A paragraph is a group of words put together to form a group that is usually longer
                than a sentence. Paragraphs are often made up of several sentences. There are usually between three and
                eight sentences. ... This topic sentence of the paragraph tells the reader what the paragraph will be
                about.A paragraph is a group of words put together to form a group that is usually longer
                than a sentence. Paragraphs are often made up of several sentences. There are usually between three and
                eight sentences. ... This topic sentence of the paragraph tells the reader what the paragraph will be
                about.
            </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <img src="../../../assets/images/WhatsApp Image 2022-01-27 at 5.45.21 PM.jpeg">
        </div>
    </div>

    <div class="row m-0 p-0">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <mat-card>
                <h1>fcgvhbjnk</h1>
            </mat-card>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <mat-card>
                <h1>xfghjk</h1>
            </mat-card>
        </div>
    </div>
</div>